# Chapter 6: Exercises

6. 5 ***(Counting Votes)*** Write a script that uses a dictionary to determine the number of votes received by candidates in an election. The votes are concatenated in a string where each vote is separated from the next by a comma.

In [1]:
import pandas as pd
from collections import Counter

data = pd.read_csv("https://raw.githubusercontent.com/babel202/hw13/master/president_county_candidate.csv") #US 2020 election

candidates = data.filter(["candidate"]).head(10_000).to_dict("records")
names = list()

list(names.append(*i.values()) for i in candidates) #filters only candidate names

print(f"{'Candidate':<13} {'Votes':>16} {'%':>11}")

for name,votes in Counter(names).items():
   
    print(f"{name.lstrip():20} {votes:9} {(votes/ len(names)) * 100 :13.2f}")

Candidate                Votes           %
Joe Biden                 1655         16.55
Donald Trump              1656         16.56
Jo Jorgensen              1655         16.55
Howie Hawkins             1071         10.71
Write-ins                 1459         14.59
Gloria La Riva             242          2.42
Brock Pierce               339          3.39
Rocky De La Fuente         708          7.08
Don Blankenship            278          2.78
Kanye West                 327          3.27
Brian Carroll              167          1.67
Ricki Sue King              99          0.99
Jade Simmons                64          0.64
President Boddie            64          0.64
Bill Hammons                64          0.64
Tom Hoefling                64          0.64
Alyson Kennedy              64          0.64
Jerome Segal                24          0.24

6. 6 ***(Duplicate Email Address Removal)*** Write a function that receives a list of email addresses and displays only the unique addresses. Treat uppercase and lowercase letters the same. The function should use a set to get the unique email addresses from the list. Test your function with several different lists.

In [95]:
def removeDuplicate(emails:list)  -> print :
    """Remove duplicare emails and displays unique addresses """
    from pandas import DataFrame
    from itertools import chain
    from numpy import unique
    
    emails_cleaner = set(map(lambda x: x.lower(),   #merges all addresses into a single list,
                             chain.from_iterable(emails.values())))  #transforms them all with lower case letters and removes duplicates using a set
   
    _ ,frequencies= unique(list(chain.from_iterable(emails.values())), return_counts=True) #gets the number of emails received per account
    return DataFrame(zip(emails_cleaner,frequencies), columns= ["Email Addresses","Received "])

df = pd.read_csv("https://raw.githubusercontent.com/mizvol/enron-email-network-analysis/master/email-links-all.csv") #Enron datasets

emails = df.filter(["From","To"]).to_dict("list") #gets only email addresses

removeDuplicate(emails)

                Email Addresses  Received
0         m.rosenberg@enron.com         10
1              rlevin@nymex.com          1
2          shuttej@epenergy.com         20
3      winifred.isaac@enron.com          1
4               vhart@enron.com          1
...                         ...        ...
27443          eracheff@wwc.com         44
27444   pmcintyre@sierratel.com          1
27445  rogers.herndon@enron.com         30
27446    varias@hollandhart.com          1
27447            branddd@bp.com          3

[27448 rows x 2 columns]